body{
    z-index: 0;
}

.my-container {
    margin-top: 120px;
}

.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.bg-grey {
    background-color: #e9ecef;
}

.list {
    list-style:none;
}

.iframe {
    width: 600px;
    height: 300px;
}

#menu {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
}

.alert-my-dark {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    color: #ffffff;
    background-color: #0e0e0e;
    border-color: #c6c8ca;
}

code {
    font-size: 87.5%;
    color: #d72679;
    word-break: break-word;
}

.purple {
    color: #6a38ff;
}

.red {
    color: #e40202;
}

.yellow {
    color: #e4b702;
}

@media screen and (max-width: 850px) {
    .noob {
        width: 370px;
        height: 200px;
    }
    #menu {
        position: fixed;
        z-index: 1;
        left: 3%;
        top: 11%;
        width: 8em;
        margin-top: -2.5em;
    }
}
